<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="dashboard.css">
    <title>GM Tool | Goal Management System</title>
</head>
<body>

<div class="d-flex">
    <div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
        <a href="#" class="d-flex justify-content-center mb-3 mb-md-0 me-md-auto text-secondary text-decoration-none">
            <span class="fs-4">GM Tool</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    My goals
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    Review requests
                </a>
            </li>
        </ul>
    </div>

    <div class="d-flex flex-column w-100">
        <header class="d-flex text-bg-dark align-items-center justify-content-end">
            <button class="btn btn-outline-danger">Sign Out</button>
        </header>

        <main class="h-100 bg-light px-4 pt-4">
            <div class="container bg-white p-4">
                <button class="btn btn-outline-primary">Create new goal</button>

                <div class="table-responsive">
                    <table class="table align-middle table-row-dashed mt-4">
                        <thead>
                        <tr class="text-start text-uppercase text-secondary">
                            <th>Title</th>
                            <th>Description</th>
                            <th>Approver</th>
                            <th>Status</th>
                            <th>Created Date</th>
                            <th class="text-end">Actions</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-success m-1">Approved</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-danger m-1">Rejected</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-info m-1">Pending</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-success m-1">Approved</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-danger m-1">Rejected</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-info m-1">Pending</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-success m-1">Approved</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-danger m-1">Rejected</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-info m-1">Pending</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>
                        <tr>
                            <td>Create unit tests</td>
                            <td>
                                Part of long description here...
                            </td>
                            <td>Ruben Danielyan</td>
                            <td>
                                <span class="badge badge-light-info m-1">Pending</span>
                            </td>
                            <td>10 Nov 2021, 11:30 am</td>
                            <td class="text-end">
                                <button class="btn btn-outline-info">View</button>
                                <!--                            <button class="btn btn-outline-success">Approve</button>-->
                                <!--                            <button class="btn btn-outline-danger">Reject</button>-->
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                        <div>
                            <select class="form-select form-select-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="dataTables_paginate paging_simple_numbers" id="kt_permissions_table_paginate">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>

</body>
</html>
