.landing-bg {
    background-color: #13263c;
    background-image: url(../../public/assets/images/svg/landing.svg)
}

.landing-title-gradient {
    background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}